{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">

    <img src="/static/images/logo.png" class="img-fluid" alt="Responsive image">

    <div class="mb-5" style="text-align: center;">
    
    
        <h4>Thank for your submittal!</h4>
        <hr>
        <small>your form has been recieved and I</small> <br>
        <small>will respond in a timely manner.</small>


    </div>
    <div class="">

        <blockquote class="blockquote text-center">
            <footer class="blockquote-footer"><em> Code is life made simple, and simply I love to code.</em></footer>
            
        </blockquote>
    </div>
</div>

{% endblock %}